## 导入宏定义
$!init
$!define

## 设置文件保存路径
#save($daoClassSavePath, $daoClassName, ".java")

#if($!{tableInfo.savePackageName})package $!{tableInfo.savePackageName}.#end$!{daoPackage};

import $!{tableInfo.savePackageName}.$!entityPackage.$!{entityClassName};
import $!{tableInfo.savePackageName}.$!paramsPackage.$!{paramsClassName};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Param;
import java.util.List;

## 表注释（宏定义）
#tableComment("")
@Mapper
public interface $!{daoClassName} extends BaseMapper<$!entityClassName> {

}