## 引入自定义变量及宏定义
$!init
$!define

## 设置文件保存路径
#save($serviceClassSavePath, $serviceClassName, ".java")

## 定义包路径
$tool.charSeqJoin(".", "package ", ";", false, $tableInfo.savePackageName, $servicePackage)

$tool.charSeqJoin(".", "import ", ";", false, $tableInfo.savePackageName, $dtoPackage, $dtoClassName)
import java.util.List;

## 使用宏定义实现类注释信息
#classDescription("")
public interface $serviceClassName {

    $dtoClassName add($dtoClassName $!{tool.firstLowerCase($dtoClassName)});
#if(!$tableInfo.pkColumn.isEmpty())

    int deleteByPk(#foreach($column in $tableInfo.pkColumn)$tool.getClsNameByFullName($column.type) $column.name#if($velocityHasNext), #end#end);
#end
#if(!$tableInfo.pkColumn.isEmpty())

    int updateByPk($dtoClassName $!{tool.firstLowerCase($dtoClassName)});
#end
#if(!$tableInfo.pkColumn.isEmpty())

    $dtoClassName queryByPk(#foreach($column in $tableInfo.pkColumn)$tool.getClsNameByFullName($column.type) $column.name#if($velocityHasNext), #end#end);
#end

    List<$!{dtoClassName}> queryAll(Object params);
}