##针对Mybatis 进行支持，主要用于生成xml文件
#foreach($column in $tableInfo.fullColumn)
    ##储存列类型
    #set($sqlType = $tool.getField($column.obj.dataType, "typeName"))
    $tool.call($column.ext.put("sqlType", $sqlType))
    #if($tool.newHashSet("tinyint").contains($sqlType))
        #set($jdbcType="TINYINT")
    #elseif($tool.newHashSet("smallint").contains($sqlType))
        #set($jdbcType="SMALLINT")
    #elseif($tool.newHashSet("mediumint", "int", "integer").contains($sqlType))
        #set($jdbcType="INTEGER")
    #elseif($tool.newHashSet("bigint").contains($sqlType))
        #set($jdbcType="BIGINT")
    #elseif($tool.newHashSet("float").contains($sqlType))
        #set($jdbcType="REAL")
    #elseif($tool.newHashSet("double").contains($sqlType))
        #set($jdbcType="DOUBLE")
    #elseif($tool.newHashSet("decimal").contains($sqlType))
        #set($jdbcType="DECIMAL")
    #elseif($tool.newHashSet("year", "date").contains($sqlType))
        #set($jdbcType="DATE")
    #elseif($tool.newHashSet("time").contains($sqlType))
        #set($jdbcType="TIME")
    #elseif($tool.newHashSet("timestamp", "datetime").contains($sqlType))
        #set($jdbcType="TIMESTAMP")
    #elseif($tool.newHashSet("char").contains($sqlType))
        #set($jdbcType="CHAR")
    #elseif($tool.newHashSet("varchar", "tinytext").contains($sqlType))
        #set($jdbcType="VARCHAR")
    #elseif($tool.newHashSet("text", "mediumtext", "longtext").contains($sqlType))
        #set($jdbcType="LONGVARCHAR")
    #elseif($tool.newHashSet("tinyblob").contains($sqlType))
        #set($jdbcType="BINARY")
    #elseif($tool.newHashSet("blob", "mediumblob", "longblob").contains($sqlType))
        #set($jdbcType="LONGVARBINARY")
    #else
        ##其他类型
        #set($jdbcType="OTHER")
    #end
    $tool.call($column.ext.put("jdbcType", $jdbcType))
#end

##### 定义宏，查询所有列
#set($brLimit = 5)
#set($linePrefix = "        ")
## SQL列
#macro(allSqlColumn)#foreach($column in $tableInfo.fullColumn)#if($velocityCount != 1 && (($velocityCount - 1) % $brLimit == 0))

#end#if($velocityCount % $brLimit == 1)$linePrefix#end`$column.obj.name`#if($velocityHasNext), #end#end#end
## MyBatis列
#macro(allMyBatisColumn)#foreach($column in $tableInfo.fullColumn)#if($velocityCount != 1 && (($velocityCount - 1) % $brLimit == 0))

#end#if($velocityCount % $brLimit == 1)$linePrefix#end#{$!{column.name},jdbcType=$!{column.ext.jdbcType}}#if($velocityHasNext), #end#end#end
